<%= form_for @player, url: game_join_path(@game), remote: true, html: { class: 'clearfix' } do |f| %>
  <div id='item-form' class="col-md-12">

          <div class="form-group clearfix">
            <div class='col-sm-6'>
              <%= label_tag :nickname, "Nickname" %>
              <%= text_field_tag :name %>
            </div>
          </div>


  </div>

  <div class="col-md-12 form-controls">
    <%= button_tag(type: "submit", class: 'btn btn-success pull-right hint--top-left hint--bounce') do %>
        <i class="fa fa-check"></i>
    <% end %>
  </div>
<% end %>
