<main>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Matchup</th>
          <th>Manager</th>
          <th>Status</th>
          <th>Players</th>
        </tr>
      </thead>
      <tbody id="games">
        <%= render @games %>
      </tbody>
    </table>
    <BR />
    New Game
  </div>
</main>
