<section class="section">
  <div class="row" style="padding-bottom: 5px">
    <div class="btn-group col-sm-2">
      <%= link_to "New Game",  new_game_path, class: "fa fa-plus", remote: true %>
    </div>  
  </div>
 
  <div class="row">

    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">

          <div class="card-title-block">
            <h3 class="title">
              Game Lobby
            </h3>
          </div>

          <section class="example" id="games">
            <%= render @games %>
          </section>

        </div>
      </div>
    </div>
    
  </div>


</section>
