<!DOCTYPE html>
<html>
  <head>
    <title>ReactHorse</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Games</a>
            </li>
          </ul>
        </nav>
        <h3>HorseTime</h3>
      </div>      

    </div>
    <%= yield %>
  </body>
</html>
